# Frontend
VITE_API_URL=https://seu-backend.render.com

# Backend
DATABASE_URL=postgres://...
JWT_SECRET=super-secret-key
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@financeiro.com
ADMIN_PASSWORD=admin123
ALLOWED_ORIGINS=https://seu-app.vercel.app,http://localhost:5173
PORT=3001
